* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
}

.imageContainer img {
    width: 100%;
    height: 325px;
}

.imageContainer h2 {
    position: absolute;
    top: 300px;
    color: white;
    font-size: 50px;
    left: 138px;
}

h1 {
    margin-top: 50px;
    margin-left: 259px;
    font-weight: normal;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px 10px;
}

.cardBox {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
    width: 80vw;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    /* background: yellow; */
    height: 250px;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px;
    /* box-shadow: 5px 5px 10px; */
    transition: 0.2s ease;
    /* to remove * box-sizing: border-box */
    box-sizing: content-box;
    background-color: white;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 10px;
}

.card h3 {
    font-size: 24px;
    margin-bottom: 23px;
}

.card ul {
    list-style: none;
}

.card ul li {
    font-size: 16px;
    margin-bottom: 9px;
}

.card button {
    width: 155px;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
}

.card button:hover {
    background-color: rgb(105, 105, 202);
}

.imageBox {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 100px 10px;
    gap: 40px;
}

.image img {
    width: 200px;
    cursor: pointer;
}

#three {
    width: 200px;
    height: 217px;
    cursor: pointer;
}

.image img:hover,
#three:hover {
    transform: scale(1.05);
}

@media (max-width: 830px) {
    .card {
        margin: 11px;
    }
    .imageContainer h2{
        top: 229px;
    }
}

@media (max-width: 480px) {
    .imageContainer img{
        height: 161px;
    }
    .imageContainer h2{
        left: 11%;
        top: 20%;
        font-size: 23px;
    }
    h1 {
        margin-left: 28px;
    }

    .container {
        margin: 35px 10px;
    }

    .card h3 {
        font-size: 21px;
    }

    .imageBox {
        gap: 16px;
    }

    .image img {
        width: 99px;
    }

    #three {
        width: 109px;
        height: 105px;
    }
}
